body{
    background-color:#2d2d2d;
}
.Camaras{
    color: white;
}
.camara{
    color: white;
    width: 160px;
    height: 80px;
    background-color: #009e81;
    border-style: solid;
    border-color: snow;
    margin: 5px;
}
.camara:hover{
    width: 200px;
    height: 120px;
}